<section>
  <nav class="navbar navbar-default" data-bind="visible:true">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse">
          <a class="navbar-brand" data-bind="attr:{href:router.navigationModel()[0].hash},css:{active:router.navigationModel().isActive}">E-commerial-Durandal</a>
        <form class="navbar-form navbar-left">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-success">Submit</button>
        </form>
        <ul class="nav navbar-nav navbar-right" data-bind="foreach:{data:router.navigationModel,as :'route'}">
          <li data-bind="css:{active:isActive}">
            <a data-bind="attr:{href:hash},text:title"></a>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <div class="loader" data-bind="css:{active:router.isNavigating()}">
    <i class="fa fa-spinner fa-spin fa-2x"></i>
  </div>
  <div data-bind="router:router">
    
  </div>
</section>