<section>
    <h1 data-bind="text:home.title"></h1>
    <button class="btn btn-primary" data-bind="click:home.onToLogin">toLogin</button>

    <ul style="list-style-type: none; margin-top:20px;overflow: hidden;">
        <li style="margin-top:5px;">
            <a href="#product-detail/1/first">
                <button class="btn btn-success">ProductDetail1</button>
            </a>
        </li>
        <li style="margin-top:5px;">
            <button class="btn btn-success">ProductDetail2</button>
        </li>
        <li style="margin-top:5px;">
            <button class="btn btn-success">ProductDetail3</button>
        </li>
    </ul>
</section>